.sticky-bar {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  font-family: "Montserrat", sans-serif;
}

.white-text {
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 1.2;
}

.yellow-text {
  color: #ffcc00;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.sticky-bar__link {
  margin-right: 20px;
  text-decoration: none;
}

.sticky-bar__left,
.sticky-bar__right {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

@media (max-width: 768px) {
  .sticky-bar {
    flex-direction: column;
    text-align: center;
  }
  .sticky-bar__left,
  .sticky-bar__right {
    flex-direction: column;
    gap: 10px;
  }
}